<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="initial-scale=1.0">
		<!-- Compiled and minified meyer reset
		<link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet"> -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="shortcut icon" href="../../public/assets/img/favicon.ico" type="image/x-icon">
<!-- Compiled and minified jquery -->
		<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
		<script>console.log("jquery loaded");</script>

<!-- Compiled and minified Materialize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
		<script>console.log("materialize css loaded");</script>

<!-- Compiled and minified Materialize JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<script>console.log("materialize js loaded");</script>

<!-- Compiled and minified bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script>console.log("bootstrap css loaded");</script> 

<!-- Rel links to js files -->
	<link rel="stylesheet" href="/assets/css/main_theme.css" type="text/css">

	<title>GIT Some</title>

	<meta name="Description" content="Find other coders and developers to pair up with near you with the Git Some web application. Sign in via Github to be able to chat and drop a Google Marker down to meet up with other people working, learning, and coding. You can you specify programming language preferences for instance if you're into JavaScript, Python, Ruby, C++... The adjustment period from solo programming to collaborative programming was like eating a hot pepper. The first time you try it, you may not like it because you are not used to it. However the more you eat it, the more you like it. -anonymous">
	<meta name="Keywords" content="coding, code, developers, devs, dev, programming, languages, javascript, local pair coding, python, ruby, c++, node, node.js, jQuery, TA, instructor, student, coding bootcamp, coding class, group coding, html, css, angular, Angular, angular.js, Angular.js, react, React, react.js, React.js, mysql, MYSQL, sequelize, Sequelize, mongodb, MongoDB, express, Express, express.js, Express,js, sockets, sockets.io, Sockets, Sockets.io web sockets, Web Sockets, web developer, Web Developer, UI Architect, UI Design, Web Design, web design, hosting, Hosting, geolocate, Geolocate, github, GitHub, GITHUB, GIT, Git, git, postgres, Postgres, laravel, Laravel, mean stack, MEAN stack, lamp stack, LAMP stack">
	</head>
	<body>
		{{{ body }}}
{{!-- Some JS files required for page-bottom positioning --}}

    <script src="/assets/javascript/interactive.js"></script>

	</body>
</html>