<header class="text-center">
</header>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center"><h1>code.partners near you</h1></a>
  <ul class="hide-on-med-and-down">
    <li><a href="#!">Login with Github</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav fixed">
      <li class="bold"><a href="#!" class="waves-effect waves-teal">First Sidebar Link</a></li>
      <li class="bold"><a href="#!" class="">Second Sidebar Link</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-teal">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">First</a></li>
                <li><a href="#!">Second</a></li>
                <li><a href="#!">Third</a></li>
                <li><a href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<main>
<div class="container text-center main_container">
<div id="map_container">
	<div id="map"></div>
</div>
<p>Lorem ipsum Blah Blah Blah!</p>
</div>
</main>
<footer>
</footer>


