<header class="text-center">
  <div class="jumbotron">
    <h1 id="header">Coding Buddies near you.</h1>
  </div>
</header>
<main>
<div class="container text-center main_container">
<div id="map_container">
	<div id="map"></div>
</div>
<p>Lorem ipsum Blah Blah Blah!</p>
</div>
<div id="message_box">
<ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
</div>

</main>
<footer>
</footer>