<header class="text-center">
  <div class="jumbotron">
    <h1>Coding Buddies near you.</h1>
  </div>
</header>
<main>
<div class="container text-center">
<p>Lorem ipsum Blah Blah Blah!</p>
</div>
</main>
<footer>
</footer>