<header class="text-center">
<h1>Create a New Marker</h1>
</header>
<div class="main_container">
	<form action="marker/create" method="POST">
		<h4>What languages do you know or need help with?</h4>
        <input type="text" name="name"/>
        <h4>Other Comments</h4>
        <input type="text" name="title"/>
        <input type="text" name="lat" id="latBox" class="hidden"/>
        <input type="text" name="lng" id="lngBox" class="hidden"/>
        <button type="submit">Send</button>
    </form>

</div> {{!-- end main_container --}}
<footer>
</footer>
<script src="/assets/javascript/geolocator.js"></script>