<header class="text-center">
<h1>Create a New Marker</h1>
</header>
<div class="main_container">
	<form action="model/method/action/{{this.id}}?_method=PUT" method="POST">
        <input type="text"/>
        <button type="submit">Send</button>
    </form>

</div> {{!-- end main_container --}}
<footer>
</footer>
<script src="/assets/javascript/geolocator.js"></script>