<form action="/users/create" method="post">
    Name: <input type="text" name="newname" />
    <br>
    Email: <input type="text" name="newemail" />
    <br>
    GitHubID: <input type="text" name="newgithubID" />
    <br>
    UserName: <input type="text" name="newusername" />
    <br>
    Langauges: <input type="text" name="newlanguages" />
    <br>
    Rating: <input type="text" name="newrating" />
    <br>
    <input type="submit" value="Add User" />
</form>